pcm.{{ bluetooth_alsa_plugin }} {
    type plug
    slave.pcm "{{ bluetooth_bluealsa_device }}"
}

pcm.{{ bluetooth_bluealsa_device }} {
    type bluealsa
    service "org.bluealsa"
    device "{{ bluetooth_adapter_mac }}"
    interface "hci{{ bluetooth_adapter_index }}"
    profile "a2dp"
    volume "{{ bluetooth_initial_volume }}"
    codec "{{ bluetooth_codec }}"
    hint {
        show on
        description {{ bluetooth_name | quote }}
    }
}

ctl.{{ bluetooth_bluealsa_device }} {
    type bluealsa
    service "org.bluealsa"
}
