pcm.{{ bluetooth_alsa_pcm }} {
    type bluealsa
    service "org.bluealsa"
    device "{{ bluetooth_address }}"
    interface "{{ bluetooth_device }}"
    profile "a2dp"
    volume "{{ bluetooth_initial_volume }}"
    codec "{{ bluetooth_codec }}"
    hint {
        description {{ bluetooth_name | quote }}
    }
}

ctl.{{ bluetooth_alsa_pcm }} {
    type bluealsa
    service "org.bluealsa"
}
