[Unit]
Description=Bluetooth Agent for {{ bluetooth_description }}
Requires=bluetooth.service
Wants=sound.target
After=bluetooth.service
{% for service in [bluetooth_start_after_services] | flatten %}
After={{ service }}.service
{% endfor %}

[Service]
User={{ bluetooth_agent_service }}
Group={{ bluetooth_gname }}
SupplementaryGroups={{ bluetooth_groups | join(' ') }}
{# This cannot be done using Bluez v5 only: need to use the deprecated hciconfig #}
ExecStartPre=+/usr/bin/hciconfig hci{{ bluetooth_adapter_index }} class 0x20414
ExecStartPre=+/usr/bin/bt-adapter --adapter '{{ bluetooth_adapter_mac }}' --set Alias {{ bluetooth_description | quote }}
ExecStartPre=+/usr/bin/bt-adapter --adapter '{{ bluetooth_adapter_mac }}' --set Powered 1
ExecStartPre=+/usr/bin/bt-adapter --adapter '{{ bluetooth_adapter_mac }}' --set DiscoverableTimeout 0
ExecStartPre=+/usr/bin/bt-adapter --adapter '{{ bluetooth_adapter_mac }}' --set PairableTimeout 0
ExecStartPre=+/usr/bin/bt-adapter --adapter '{{ bluetooth_adapter_mac }}' --set Discoverable 1
ExecStartPre=+/usr/bin/bt-adapter --adapter '{{ bluetooth_adapter_mac }}' --set Pairable 1
ExecStart=+/usr/bin/bt-agent --capability=NoInputNoOutput
RestartSec=2
Restart=always
KillSignal=SIGUSR1

[Install]
WantedBy=multi-user.target
