#jinja2: lstrip_blocks: True
[Unit]
Description=Bind mount of {{ mopidy_media_library }} at {{ mopidy_mount_point }} for {{ mopidy_description }}
After=network-online.target
{% for mount in mopidy_mount_after %}
After={{ mount }}.mount
{% endfor %}

[Mount]
What={{ mopidy_media_library }}
Where={{ mopidy_mount_point }}
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
