#jinja2: lstrip_blocks: True
[Unit]
Description=NFS mount of {{ mopidy_installer_nfs }} at {{ mopidy_installer_library }}
After=network-online.target
Requires=network-online.target

[Mount]
What={{ mopidy_installer_nfs }}
Where={{ mopidy_installer_library }}
Type={{ mopidy_installer_nfs_type }}
Options={{ mopidy_installer_nfs_options }}

[Install]
WantedBy=multi-user.target
