#jinja2: lstrip_blocks: True
{# note: no [Install]\nWantedBy= statement, see the BindsTo= in the .service file #}
[Unit]
Description=NFS mount of {{ mopidy_installer_nfs }} at {{ mopidy_installer_library }}
After=network.target

[Mount]
What={{ mopidy_installer_nfs }}
Where={{ mopidy_installer_library }}
Type={{ mopidy_installer_nfs_type }}
Options={{ mopidy_installer_nfs_options }}
