[Unit]
Description=Create FIFO for multi-room Bluetooth

[Service]
Type=oneshot
User={{ bluetooth_multiroom_service3 }}
Group={{ snapserver_gname }}
ExecStart=-mkfifo --mode 0660 --context {{ bluetooth_multiroom_fifo }}
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
